@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  background: #000000ff;
  color: #e6edf3;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
